<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <img src="assets/tumbuk.png">
    <h1 ion-text color="light">tumbuk</h1>
  </div>
</div>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'REFRESHER_PULLING_TEXT' | translate }}" refreshingText="{{ 'REFRESHING_TEXT' | translate }}"></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="statistics.length == 0">
    <ion-card-content class="happyCard">
      <ion-icon name="happy" color="primary"></ion-icon>
      <h2 ion-text color="dark">{{ 'NO_STATISTICS_MESSAGE' | translate }}</h2>
      <p ion-text color="dark">{{ 'NO_STATISTICS_MESSAGE_2' | translate }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="statistics.length > 0">
    <ion-card-content class="sadCard">
      <ion-icon name="sad" color="danger"></ion-icon>
      <h2 ion-text color="dark">{{ 'STATISTICS_MESSAGE' | translate }}</h2>
      <p ion-text color="dark">{{ 'STATISTICS_MESSAGE_2' | translate }}</p>
      <ion-item id="symptomsFilter" class="item-md-no-padding">
        <ion-label>{{ 'SYMPTOMS_FILTER_LABEL' | translate }}</ion-label>
        <ion-select okText="{{ 'APPLY_FILTER_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}" (ionChange)="applySymtomsFilter($event)">
          <ion-option ion-text color="dark" value="" selected="true">{{ 'ALL_SYMPTOMS_RADIO' | translate }}</ion-option>
          <ion-option ion-text color="dark" *ngFor="let s of symptoms" value="{{s.name}}">{{s.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let stat of statistics">
    <ion-card-content>
      <ion-fab class="rank">
        <div ion-fab mini *ngIf="statistics.indexOf(stat)==0" color="danger">{{stat.count}}</div>
        <div ion-fab mini [hidden]="statistics.length < 2" *ngIf="statistics.indexOf(stat)==1" color="danger_2">{{stat.count}}</div>
        <div ion-fab mini [hidden]="statistics.length < 3" *ngIf="statistics.indexOf(stat)==2" color="danger_3">{{stat.count}}</div>
        <div ion-fab mini [hidden]="statistics.length < 4" *ngIf="statistics.indexOf(stat)>=3" color="primary">{{stat.count}}</div>
      </ion-fab>
      <ion-chip *ngFor="let ingredient of stat.ingredients">
        <ion-label ion-text color="dark">{{ingredient}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

</ion-content>
