ion-row {
  border-bottom: 1px solid #dedede;
}

.ingredients {
  display: inline-table;
  width: 90%;
}

.rank {
  display: flex;
  max-width: 4em;
}

ion-fab {
  position: absolute;
  margin: 0;
  top: .5em;
  right: .5em;
}

.fab[mini] {
  margin: 0;
}

.col {
  min-height: 3.9em;
}

ion-chip {
  margin-right: .5em;
}

ion-badge {
  font-weight: normal;
}

ion-chip ion-label {
  color: #FEFAEC;
}

.nothing {
  margin-top: 50%;
  text-align: center;
}

.something {
  text-align: center;
  padding-left: 0;
}

.something ion-label {
  padding-bottom: 1em;
}

#symptoms-filter {
  padding: 1em 2em 1em 2em;
}

.grid {
  padding: 0;
}
