.developer {
  text-align: center;
  padding-right: 16px !important;
}

img {
  margin-top: 2em;
  margin-bottom: 1em;
  width: 10em;
}

.item-inner {
  margin-left: 0;
}

.icon .item-inner {
  margin-left: 1em !important;
}

#version {
  position: absolute;
  bottom: 0;
}
