#developer {
  text-align: center;
}

/*
img {
  margin: 1em;
  width: 14em;
}


ion-card img {
  display: unset;
  width: 14em;
}

.item-md ion-icon[item-start] + .item-inner {
  margin-left: 0;
}

*/
