<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" no-border>
    <ion-refresher-content pullingIcon="arrow-down" pullingText="{{ 'REFRESHER_PULLING_TEXT' | translate }}" refreshingText="{{ 'REFRESHING_TEXT' | translate }}"></ion-refresher-content>
  </ion-refresher>

  <ion-fab id="add-btn" right bottom>
    <button ion-fab large color="pink" (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <div class="cards">

    <ion-card *ngIf="notes.length === 0">
      <ion-card-content class="happyCard">
        <ion-icon name="happy" color="primary"></ion-icon>
        <h2 ion-text color="dark">{{ 'NO_NOTES_MESSAGE' | translate }}</h2>
        <p ion-text color="dark">{{ 'NO_NOTES_MESSAGE_2' | translate }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let note of notes">
      <ion-card-header>
        <ion-note item-start class="noteBad">
          <ion-icon [name]="note.symptoms.length > 0 ? 'sad' : 'happy'" [color]="note.symptoms.length > 0 ? 'danger' : 'primary'"></ion-icon>
        </ion-note>
        <ion-note>
          <h2 ion-text color="dark" class="noteMeal">{{note.meal}}</h2>
        </ion-note>
        <ion-note item-end class="noteDate">
          <p ion-text color="dark">{{note.date}}</p>
        </ion-note>
      </ion-card-header>

      <ion-card-content class="note-card-content">
        <div class="note-card-ingredients">
          <ion-chip *ngFor="let i of note.ingredients">
            <ion-label ion-text color="dark">{{i.name}}</ion-label>
          </ion-chip>
        </div>
      </ion-card-content>

      <div class="note-card-symptoms">
        <p ion-text color="dark">{{note.symptomsToString}}</p>
      </div>
      <button class="note-card-edit-btn" ion-button clear icon-only (click)="editNote(note)">
        <ion-icon name="create" color="secondary"></ion-icon>
      </button>
      <button class="note-card-delete-btn" ion-button clear icon-only (click)="deleteNote(note)">
        <ion-icon name="trash" color="danger"></ion-icon>
      </button>
    </ion-card>

  </div>

  <ion-infinite-scroll *ngIf="!hideInfiniteScroll" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
