ion-badge {
  margin-top: .5em !important;
  margin-right: .5em;
  border-radius: 1em !important;
}

.note {
  padding-left: 1em;
}

.label-md {
  margin: .5em 0 .5em 0;
}

#add-btn {
  top: auto !important;
}

.badge-md {
  color: #FEFAEC;
  background-color: #625772;
}

ion-label {
  white-space: unset !important;
}

.item-md h2 {
  color: black;
  font-weight: bold !important;
}

ion-list .item-md.item-block .item-inner {
  border-bottom: unset !important;
}

ion-list ion-item {
  border-bottom: 1px solid #dedede !important;
}

.alert-md .alert-wrapper {
  background-color: #FEFAEC !important;
}

.alert-md .alert-button {
  color: #625772 !important;
}

#notes-list {
  padding-bottom: 4em;
}

// icon margin
.item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
  margin: 0;
}

// face icon
.item > ion-icon, .item-inner > ion-icon {
  font-size: 4rem;
}

ion-icon {
  font-size: 4rem;
}

// delete and edit button font-size
[icon-only] ion-icon {
  font-size: 2.4em;
}

// remove delete button padding
ion-item-options .button:last-child {
  padding: 0;
}

ion-item-options .button {
  width: 4em;
}

#nothing {
  text-align: center;
  margin-top: 50%;
}

.symptom {
  margin: .2em 0 .2em 0;
  padding-left: .2em;
}
