// ion-item-sliding .item {
//   padding: 0;
// }

.list-md .item-block .item-inner {
  border-bottom: 0;
}

.item-md.item-block .item-inner {
  padding: 0;
  border-bottom: 0;
}

.label-md {
  margin: 0;
}

.list-md ion-item-options {
  border-bottom: 0;
}

.item-md {
  transition: none;
}

.noteBad ion-icon {
  font-size: 3em;
}

.noteMeal {
  display: inline-block;
}

.noteDate {
  float: right;
  margin: 0 !important;
}

.noteSymptoms {
  margin: 1em 2px 2px 2px;
}

.cards {
  padding-bottom: 6em;
}

.card-md h2 {
  margin-left: 0.6em;
}

.note-card-delete-btn {
  position: inherit;
  float: right
}

.note-card-edit-btn {
  position: inherit;
  float: right
}

.note-card-symptoms {
  display: inline-flex;
  padding-left: 16px;
  padding-right: 6em;
  margin-top: 1em;
}

.note-card-content {
  padding-top: 0;
  padding-bottom: 0;
}

// ion-card-content {
//   padding-left: .55em;
//   padding-top: .5em;
//   padding-bottom: .5em;
//   padding-right: 0;
// }

// ion-card-content ion-item {
//   height: 1em;
//   padding-left: .3em;
//   padding-right: .8em;
// }

#scroll-to-top-btn {
  position: fixed;
  margin: .5em;
  bottom: 4em;
  left: 0;
  z-index: 2;
}