<!--
  Generated template for the NotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>

  <div id="nothing" *ngIf="notes.length == 0">
    <ion-icon name="happy" color="primary"></ion-icon>
    <h2>{{ 'NO_NOTES_MESSAGE' | translate }}</h2>
    <p>{{ 'NO_NOTES_MESSAGE_2' | translate }}</p>
  </div>

  <ion-fab id="add-btn" right bottom>
    <button ion-fab large color="primary_dark" (click)="addNote()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="{{ 'REFRESHER_PULLING_TEXT' | translate }}" refreshingSpinner="dots"
      refreshingText="{{ 'REFRESHING_TEXT' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list id="notes-list">
    <ion-item-sliding *ngFor="let note of notes">
      <ion-item class="note">
        <!--
        <ion-icon [name]="note.bad=='true' ? 'sad' : 'happy'" item-start [color]="note.bad=='true' ? 'danger' : 'primary'"></ion-icon>
        -->
        <ion-icon [name]="note.symptoms.length > 0 ? 'sad' : 'happy'" item-start [color]="note.symptoms.length > 0 ? 'danger' : 'primary'"></ion-icon>
        <h2>{{note.meal}}</h2>
        <p>{{note.date}}</p>
        <ion-badge *ngFor="let i of note.ingredients">{{i.name}}</ion-badge>
        <p class="symptom" *ngFor="let s of note.symptoms">• {{s.name}}</p>
        <!--<ion-badge *ngFor="let s of note.symptoms">{{s.name}}</ion-badge>-->
      </ion-item>

      <ion-item-options side="right">
        <button ion-button icon-only clear color="danger" tappable (click)="deleteNote(note)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <button ion-button icon-only clear color="primary_dark" tappable (click)="editNote(note)">
          <ion-icon name="create"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
