<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'SYMPTOMS_TITLE' | translate }}</ion-title>
    <ion-buttons start showWhen="core,android,windows">
      <button ion-button tappable (click)="done()" [disabled]="!saved">{{ 'SYMPTOMS_DONE_BUTTON' | translate }}</button>
    </ion-buttons>
    <ion-buttons start showWhen="ios">
      <button ion-button tappable (click)="done()" [disabled]="!saved">
        <span color="primary">
          {{ 'SYMPTOMS_DONE_BUTTON' | translate }}
        </span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">

    <button hidden tappable (click)="add()"></button>

    <ion-card *ngFor="let s of symptoms">
      <ion-card-content>
        <p ion-text color="dark" item-start>{{s.name}}</p>
        <button item-end ion-button icon-only clear class="deleteSymptomButton" color="danger" tappable (click)="delete(s)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-item id="addSymptomField" class="item-md-no-padding">
          <ion-label floating>{{ 'SYMPTOMS_ADD_SYMPTOM_PLACEHOLDER' | translate }}</ion-label>
          <ion-input ion-text color="dark" type="text" formControlName="symptom" [(ngModel)]="symptom" tappable></ion-input>
          <ion-fab class="customButton" item-right>
            <button ion-fab mini tappable color="pink" (click)="add()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </form>
</ion-content>
